{{ define "main" }}

{{ $bg := "img/okitavera.png" | absURL }}

<div class="row mt-2">
    {{ range .Site.Data.friendlist.friends.list}}
    <div class="col">
      
        <div class="friend-list">
          <div class="img-container">
            <img src="{{.bg}}" alt="" class="img-banner">
            <img src="{{.avatar}}" alt="" class="profile-img">
          </div>
          <div class="friend-info">
            <div class="title">
              <p>{{.name}}</p>
              <span>{{.title}}</span>
            </div>
            <div class="visit">
              <a href="{{.website}}" target="_blank" rel="noopener noreferrer">view more</a>
            </div>
          </div>
        </div>
      
    </div>
    {{ end }}
</div>

{{ end }}
