{{ define "main" }}



<div class="row mt-2">
    {{ range .Site.Data.friendlist.friends.list}}
    {{ $bg := .ss | absURL }}
    <div class="col-lg-4 col-sm-6 col-xs-12">
      
        <div class="card" style="margin:5px;">
          <div class="img-container">
            <img src="{{.ss | absURL }}" alt="" class="img-banner">
            <img src="{{.avatar}}" alt="" class="profile-img">
          </div>
          <div class="friend-info">
            <div class="title">
              <p>{{.name}}</p>
              <span>{{.title}}</span>
            </div>
            <div class="visit">
              <a href="{{.website}}" target="_blank" rel="noopener noreferrer">view more</a>
            </div>
          </div>
        </div>
      
    </div>
    {{ end }}
</div>

{{ end }}
