{{ define "main" }}



<div class="row mt-2">
  {{ range .Site.Data.friendlist.friends}}
  {{ $bg := .ss | absURL }}
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div class="card profile-card">
      <img src="{{.ss | absURL }}" alt="{{.name}}">
      <p class="name">{{.name}}</p>
      <ul class="social">
        {{ range $name, $link := .social }}
        {{ $icon := slicestr $name 2 }}
        <li><a href="{{$link | safeURL}}"><i data-feather="{{ $icon }}"></i></a></li>
        {{ end }}
      </ul>
      <button onclick="window.open('{{.website}}')">View More</button>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}
