*{
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #e2e1e0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.box {
  align-items: center;
  width: 400px;
  height: auto;
  background: #fff;
  /* padding: 1rem 0; */
  border-radius: 2px;
  box-shadow: 0 .2rem .3rem rgba(0,0,0,.15);
}

.mt-min {
  margin-top: -100px;
}

.mt-2 {
  margin-top: 20px !important;
}
.align-center {
  text-align: center !important;
}

.image-box {
  margin: 20px auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.image-box img {
  width: 100%;
  height: auto;
}

.text {
  line-height: 2.2rem;
  margin: 5px 0;
}

.text h2{
  font-size: 2.5rem;
  font-weight:700;
}

.text span {
  font-size: 1.2rem;
  background: crimson;
  padding: .2rem .7rem;
  border-radius: 15px;
  color: white;
  text-transform: none
}

.links {
  /* margin: 15px auto; */
  /* margin-top: none; */
  border-top: 1px solid #ececec;
  padding: 1.5rem;
}

.links ul {
  list-style: none;
}

.links ul li {
  display: inline-block;
}
.links ul li:not(:first-child) {
  margin-left: 15px;
}
.links .social li a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: crimson;
  font-size: 1.2rem;
}

/* ---NAVIGATION--- */
.container {
  width: 78%;
  margin: auto;
  display: flex;
}

.navbar {
  background: #fff;
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 1.5rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .15);
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* z-index: 100; */
}

.brand {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  /* flex: 1; */
  /* background: lightcoral; */
  margin-right: auto;
}

.nav-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  /* flex: 1; */
}

.nav-item:not(:first-child) {
  margin-left: 20px;
}

.nav-link {
  outline: none;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .1rem;
}

.nav-item:hover::first-letter {
  text-decoration: underline;
  color: crimson;
}

/* ---POST LIST--- */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.col {
  height: auto;
  flex-basis: 100%;
  /* -ms-flex: auto; */
  width: 1000px;
  /* max-width: 1000px; */
  /* position: relative; */
  /* padding: 10px; */
  box-sizing: border-box;
  /* margin: 10px; */
}

.page-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid #ececec;
  padding: 1.5rem;
}

.content-list {
  font-size: 1.4rem;
  margin-top: 5px;
  padding: 3rem;
}

.content-list ul {
  list-style: circle inside;
}

.content {
  margin-top: 2.5rem;
  font-size: 1.4rem;
}
