@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,700,700i&display=swap');
*{
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	background: #f7f7f7;
}
.row {
	margin: 0 !important;
}
a {
	text-decoration: underline double #DC143C;
	color: #000000;
}
a:hover {
	color: #DC143C;
}
pre {
	white-space:pre-wrap !important;
	overflow: auto;
}
blockquote {
  background: rgba(220,60,60,.05);
  padding: 1px 10px;
  border-left: 4px solid #DC143C;
}
.flex {
  display: flex;
}
.sticky {
  position: sticky;
  top: 0;
}
/*======================================*/
/*=============NAVIGATION===============*/
/*======================================*/
.navbar {
  background: #FFFFFF;
  display: flex;
  width: 100%;
  padding: 15px 0;
  font-size: 1.7rem;
  box-shadow: 0 .4rem 1rem rgba(0, 0, 0, .05);
  justify-content: space-between;
  font-family: 'Poiret One', cursive;
}
.brand {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin-right: auto;
  outline: none;
}
.nav-list {
  font-size: 1.4rem;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item:not(:first-child) {
  margin-left: 20px;
}
.nav-link {
  outline: none;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .1rem;
}
.nav-link:hover {
  color: #000000 !important;
}

.nav-item:hover::first-letter {
  text-decoration: underline;
  color: #DC143C;
}


/* HOME */
.box {
  position: fixed;
  width: 400px;
  height: auto;
  background: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 3px;
  box-shadow: 0 .4rem 1rem rgba(0, 0, 0, .05), 0 0 .1rem rgba(0, 0, 0, .1);
}
.image-box {
  margin: 20px auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.image-box img {
  width: 100%;
  height: auto;
}
.text {
  line-height: 2.2rem;
}
.text h2{
  font-size: 2.5rem;
	font-weight:700;
	margin:0;
}
.text span {
  font-size: 1.2rem;
  background: #DC143C;
  padding: .2rem .7rem;
  border-radius: 15px;
  color: #FFFFFF;
  text-transform: none
}
.links {
  border-top: 1px solid #ECECEC;
  padding: .5rem;
}
.links ul {
  list-style: none;
  padding: 0;
}
.links ul li {
  display: inline-block;
}
.links ul li:not(:first-child) {
  margin-left: 15px;
}
.links .social li a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #DC143C;
  font-size: 1.2rem;
}
/* /HOME */

/* PAGES */
.page-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid #ececec;
  padding: 1.5rem;
}
.content-list {
  line-height: 1.3;
  font-size: 1.5rem;
}
.content-list ul {
  list-style: disc inside;
}
.content-list ul li:nth-child(1){
  color: #F08080;
}
.content-list ul li:nth-child(2){
  color: #90EE90;
}
.content-list ul li:nth-child(3){
  color: #87CEFA;
}
.content-list ul li:nth-child(4){
  color: #FFD700;
}
.content-list ul li:nth-child(5){
  color: #800080;
}
.content {
  line-height: 1.6;
  margin-top: 2.5rem;
  font-size: 1.65rem;
  padding: 3rem;
  padding-top: 0 !important;
}




/* ELEMENT */

/* -CARD- */
.card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 .2rem .3rem rgba(0,0,0,.15);
}
.card .header {
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid #ececec;
  padding: 1.5rem;
}
.card .body {
	line-height: 1.6;
  /* margin-top: 2.5rem; */
  font-size: 1.65rem;
  padding: 2rem;
  padding-top: 0 !important;
}
.card .footer {
	border-top: 1px solid #ececec;
	font-size: 1.4rem;
  padding: 1.5rem;
}
.card .footer a{
  text-decoration: none;
  color: #DC143C;
}
.profile-card {
  text-align: center;
  margin: 5px;
}
.profile-card img{
  width: 100%;
}
.profile-card .name {
  color: #000000;
  font-weight: 700;
  font-size: 2rem;
}
.profile-card .social {
  padding: 0;
  margin: 0;
  list-style: none;
}
.profile-card .social li{
  display: inline;
}
.profile-card .social a{
  text-decoration: none;
  color: #5A5A5A;
}
.profile-card button {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #FFFFFF;
  background-color: #DC143C;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.profile-card button:hover, a:hover {
  opacity: 0.7;
}

/* -BUTTON */
.btn{
	border-radius: 3px;
	margin: 3px;
	padding: 5px;
	font-size: 1.5rem;
	text-decoration: none;
  cursor: pointer;
  transition: all .2s ease;
}
.btn-default {
	background: #ECECEC;
	color: #000000;
}
.btn-default:hover {
	background: #DC143C;
	color: #FFFFFF;
}
.btn-primary {
	background: #DC143C;
	color: #FFFFFF;
}




/* -HELPER */

/* --MARGIN */
.m-1 {margin: 10px}
.m-2 {margin: 20px;}
.m-3 {margin: 30px;}
.m-4 {margin: 40px;}
.m-5 {margin: 50px;}
/* ---MARGIN-TOP */
.mt-1 {margin-top: 10px !important;}
.mt-2 {margin-top: 20px !important;}
.mt-3 {margin-top: 30px !important;}
.mt-4 {margin-top: 40px !important;}
.mt-5 {margin-top: 50px !important;}
/* ---MARGIN-BOTTOM */
.mt-1 {margin-bottom: 10px !important;}
.mt-2 {margin-bottom: 20px !important;}
.mt-3 {margin-bottom: 30px !important;}
.mt-4 {margin-bottom: 40px !important;}
.mt-5 {margin-bottom: 50px !important;}
/* ---MARGIN-LEFT */
.mt-1 {margin-left: 10px !important;}
.mt-2 {margin-left: 20px !important;}
.mt-3 {margin-left: 30px !important;}
.mt-4 {margin-left: 40px !important;}
.mt-5 {margin-left: 50px !important;}
/* ---MARGIN-RIGHT */
.mt-1 {margin-right: 10px !important;}
.mt-2 {margin-right: 20px !important;}
.mt-3 {margin-right: 30px !important;}
.mt-4 {margin-right: 40px !important;}
.mt-5 {margin-right: 50px !important;}
/* --TEXT-ALIGN */
.text-left {text-align: left !important;}
.text-center {text-align: center !important;}
.text-right { text-align: right !important;}



/* MOBILE */
.hidden {
  display: none;
}

@media (max-width:800px) {
  html {
      font-size: 8px;
  }

  .content {
      font-size: 1.8rem;
  }

  .nav-btn {
      position: relative;
      /* top: 15px; */
      /* right: 15px; */
      z-index: 9999;
      cursor: pointer;
  }

  .nav-btn i {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      border-radius: 5px;
  }
  .nav-btn i:nth-child(1) {
      margin-top: 2px;
  }
  .nav-btn i:nth-child(2) {
      margin-top: 4px;
      opacity: 1;
  }
  .nav-btn i:nth-child(3) {
      margin-top: 4px;
  }

  .container {
      width: 95%;
  }

  .nav-wrapper {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .1s ease;
  }

  .nav-wrapper .nav-list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: block; 
  }
  .nav-wrapper .nav-list .nav-item {
      text-align: center;
      margin: 25px 0;
  }

  .nav-wrapper .nav-list li:nth-child(1) .nav-link {
      transition-delay: .2s;
  }
  .nav-wrapper .nav-list li:nth-child(2) .nav-link {
      transition-delay: .3s;
  }
  .nav-wrapper .nav-list li:nth-child(3) .nav-link {
      transition-delay: .4s;
  }
  .nav-wrapper .nav-list .nav-item .nav-link {
      font-size: 3rem;
      opacity: 0;
      transform: translateX(-20px);
      transition: all 2s ease;
  }
  /* .nav-wrapper .nav-list .nav-item:nth-child(1) .nav-link {
      transition-delay: .2s;
  } */


}

#nav:checked ~ .nav-wrapper {
  opacity: 1;
  z-index: 9990;
  visibility: visible;
}
#nav:checked ~ .nav-wrapper .nav-list .nav-item .nav-link {
  opacity: 1;
  transform: translateX(0);
}

#nav:checked + .nav-btn {
  transform: rotate(180deg);
  transition: .2s ease;
}

#nav:checked + .nav-btn i{
  background: #000;
  transition: transform .2s ease;
}
#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}