*{
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #f7f7f7;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover {
  color: crimson;
}

pre {
  white-space:pre-wrap !important;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.box {
  /* align-items: center; */
  width: 400px;
  height: auto;
  background: #fff;
  /* padding: 1rem 0; */
  border-radius: 2px;
  box-shadow: 0 .4rem 1rem rgba(0, 0, 0, .05), 0 0 .1rem rgba(0, 0, 0, .1);
}

.friend-list {
  /* display: block;
  width: 350px;
  height: auto; */
  background: #fff;
  /* padding: 1rem; */
  margin: 5px;
  border-radius: 2px;
  box-shadow: 0 .2rem .3rem rgba(0,0,0,.15);
  /* background: url('img/okitavera.png'); */
}

.img-container {
  width: 100%;
  height: 40%;
  position: relative;
}
.img-container img.img-banner {
  width: 100%;
  height: auto;
}
.img-container img.profile-img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #FFF;
}
.friend-info {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 60px 50px 50px;
  position: relative;
}
.friend-info .title {
  text-align: center;
  color: crimson;
  padding-bottom: 35px;
}
.friend-info .title p {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px auto;
}
.friend-info .title span {
  font-weight: 400;
  font-size: 1.2rem;
  color: #444444;
}
.friend-info .visit{
  /* border: 2px solid crimson; */
  text-align: center;

}
.friend-info .visit a{
  width: 90px;
  border: 2px solid crimson;
  border-radius: 2px;
  padding: 10px;
  text-transform: uppercase;
  color: crimson;
  font-weight: 500;
  cursor: pointer;
  transition: all 1s ease;
}
.friend-info .visit a:hover{
  background: crimson;
  color: #fff;
}


.friend-list>.header {
  overflow: hidden;
  /* background:url('//localhost:1313/img/okitavera.png'); */
  background-size: cover;
}
.friend-list>.header .bg{
  margin: 0;
  padding: 0;
  width: 100%;
}

.friend-list>.header .avatar{
  margin: 0;
  padding: 0;
  width: 30%;
  border-radius: 50%;
  margin-top: -58px;

}

.friend-list>.info h2{
  font-size: 1.7rem;
}

.friend-list>.info span{
  background: crimson;
  padding: 5px;
  font-size: .8rem;
  color: #FFFFFF;
  border-radius: 50px;
}

.friend-list>.info a{
  background: crimson;
  padding: 10px;
  font-size: 1.2rem;
  color: #FFFFFF;
  border-radius: 2px;
}





.card {
  width: 400px;
  height: auto;
  background: #fff;
  /* padding: 1rem 0; */
  border-radius: 2px;
  box-shadow: 0 .2rem .3rem rgba(0,0,0,.15);
  text-align: center;
}

.card>.header {
  overflow: hidden;
  /* text-align: center */
}

.card>.header img {
  width: 100%;
  height: auto;
}

.card>.header>.avatar {
  /* text-align: center; */
  width: 35%;
  margin: 0 auto;
  margin-top: -70px;
  border-radius: 50%;
  box-shadow: 0 .2rem .3rem rgba(0,0,0, .15)
}

.card>.info {
  /* text-align: center; */
  margin-top: 10px;
}
.card>.info h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.card>.info h1 span{
  font-size: 1rem;
  background: crimson;
  padding: .2rem .7rem;
  border-radius: 15px;
  color: white;
  text-transform: none;
  font-weight: lighter;
  margin-top: -5px;
}

.card>.info>.about {
  margin: 10px;
  font-size: 1.2rem;
}

.card>.link {
  padding: 20px; 
  
}
.card>.link a {
  padding: 10px; 
  background: crimson;
  border: none;
  margin: 5px;
  width: 50%;
  font-size: 1.2rem;
  border-radius: 2px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 .2rem .3rem rgba(0,0,0, .15);
}














.mt-min {
  margin-top: -100px;
}

.mt-2 {
  margin-top: 20px !important;
}
.align-center {
  text-align: center !important;
}

.image-box {
  margin: 20px auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.image-box img {
  width: 100%;
  height: auto;
}

.text {
  line-height: 2.2rem;
  margin: 5px 0;
}

.text h2{
  font-size: 2.5rem;
  font-weight:700;
}

.text span {
  font-size: 1.2rem;
  background: crimson;
  padding: .2rem .7rem;
  border-radius: 15px;
  color: white;
  text-transform: none
}

.links {
  /* margin: 15px auto; */
  /* margin-top: none; */
  border-top: 1px solid #ececec;
  padding: 1.5rem;
}

.links ul {
  list-style: none;
}

.links ul li {
  display: inline-block;
}
.links ul li:not(:first-child) {
  margin-left: 15px;
}
.links .social li a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: crimson;
  font-size: 1.2rem;
}

/* ---NAVIGATION--- */
.container {
  width: 70%;
  margin: auto;
  display: flex;
}

.navbar {
  background: #fff;
  display: flex;
  width: 100%;
  padding: 15px 0;
  font-size: 1.7rem;
  box-shadow: 0 .4rem 1rem rgba(0, 0, 0, .05);
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.brand {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  /* flex: 1; */
  /* background: lightcoral; */
  margin-right: auto;
  outline: none;
}

.nav-list {
  font-size: 1.4rem;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  /* flex: 1; */
}

.nav-item:not(:first-child) {
  margin-left: 20px;
}

.nav-link {
  outline: none;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .1rem;
}

.nav-link:hover {
  color: #000000 !important;
}

.nav-item:hover::first-letter {
  text-decoration: underline;
  color: crimson;
}

.page-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid #ececec;
  padding: 1.5rem;
}

.content-list {
  line-height: 1.3;
  font-size: 1.4rem;
  margin-top: 5px;
  padding: 3rem;
}

.content-list ul {
  list-style: disc inside;
}

.content-list ul li:nth-child(1){
  color: lightcoral;
}
.content-list ul li:nth-child(2){
  color: lightgreen;
}
.content-list ul li:nth-child(3){
  color: lightskyblue;
}
.content-list ul li:nth-child(4){
  color: gold;
}
.content-list ul li:nth-child(5){
  color: purple;
}

.content {
  line-height: 1.3;
  margin-top: 2.5rem;
  font-size: 1.4rem;
  padding: 3rem;
  padding-top: 0 !important;
}





/* ----- ABOUT ----- */
.about h1 {
  font-size: 1.8rem;
  font-weight: 700;
  /* text-align: center; */
}
.about>.intro {
  display: flex;
}
@media (max-width:600px){
  .about>.intro {
    display: block;
    text-align: center;
  }
}
.about>.intro>img {
  width: 180px;
  height: auto;
  border-radius: 50%;
  margin-right: 30px;
}










/* ---GRID--- */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.col {
  flex-basis: 33.33%;
  -ms-flex: auto;
  width: auto;
  max-width: 1000px;
}
.col._10{
  flex-basis: 100%;
}
/* @media (max-width:800px) {
  .col {
    flex:1;
  }
} */