{{ define "main" }}

<div class="row card mt-2">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title">{{ .Title }}</h1>
        <div class="content">{{ .Content }}</div>
    </div>
</div>
<div class="row card mt-2">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">	
    <script>talkyardServerUrl='{{ .Site.Params.talkyardServerUrl }}';</script>
    <script async defer src="{{ .Site.Params.talkyardScriptUrl }}"></script>
    <!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
    <div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 45px;">
    <noscript>Please enable Javascript to view comments.</noscript>
    <p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
    <a href="https://www.talkyard.io">Talkyard</a>.</p>
		</div>
	</div>
</div>


{{ end }}
