<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    {{ $favicon := "img/INCOGNITO.ico" | absURL }}

    
    {{ $style := "css/siarie.css" | absURL }}
    {{ $flex := "css/flexboxgrid.css" | absURL }}
    {{ $enligtercss := "css/EnlighterJS.min.css" | absURL }}
    {{ $fontawesome := "css/font-awesome.min.css" | absURL }}

    <link rel="shortcut icon" href="{{ $favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ $style }}">
    <link rel="stylesheet" href="{{ $flex }}">
    <!-- Include EnlighterJS Styles -->
    <link rel="stylesheet" type="text/css" href="{{ $enligtercss }}" />
    
</head>
