<!-- Primary Meta Tags -->
<meta name="title" content="{{ .Title | default .Site.Title }}">
<meta name="description" content="{{ .Page.Params.Description }}">
<!-- Opengraph Meta Tags -->
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title | default .Site.Title }}">
<meta property="og:description" content="{{ .Page.Params.Description }}">
<meta property="og:image" content="{{ "img/thumb.png" | absURL }}">
<meta property="og:url" content="{{ .Permalink | absURL }}">
<!-- Twitter Meta Tags -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{ .Permalink | absURL }}">
<meta property="twitter:title" content="{{ .Title | default .Site.Title }}">
<meta property="twitter:description" content="{{ .Page.Params.Description }}">
<meta property="twitter:image" content="{{ "img/thumb.png" | absURL }}">




