

<!-- Primary Meta Tags -->
<meta name="title" content="{{ .Title | default .Site.Title }}">

<!-- Opengraph Meta Tags -->
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title | default .Site.Title }}">
{{ if .Page.Params.Description }}
<meta property="og:description" content="{{ .Page.Params.Description }}">
<meta property="twitter:description" content="{{ .Page.Params.Description }}">
<meta name="description" content="{{ .Page.Params.Description }}">
{{ else }}
<meta property="og:description" content="{{ .Site.Params.Description }}">
<meta property="twitter:description" content="{{ .Site.Params.Description }}">
<meta name="description" content="{{ .Site.Params.Description }}">
{{ end }}

<meta property="og:image" content="{{ "https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=757&q=80" | absURL }}">
<meta property="og:url" content="{{ .Permalink | absLangURL }}">
<!-- Twitter Meta Tags -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{ .Permalink | absLangURL }}">
<meta property="twitter:title" content="{{ .Title | default .Site.Title }}">


<meta property="twitter:image" content="{{ "https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=757&q=80" | absURL }}">